/* Arquivo inutilizado: todos os estilos de planos removidos. */
    }

    .plan-info-header {
        width: 100%;
    }

    .btn-manage-plan {
        width: 100%;
        justify-content: center;
    }
}
